.header {
    margin-bottom: 0;
}
/* ======= wrapper ============ */
.wrapper {
    background-color: #EAF2F5;
    background-size: cover;
    background-repeat: no-repeat;
}
/*====== footer =====*/
.footer {
    padding-top: 70px;
}
/*====== media =====*/
@media (max-width: 1200px) {
    .price__item {
        flex-direction: column;
        width: 33.3333%;
    }
    .price__img {
        margin-bottom: 15px;
        margin: 0 0 15px 0;
    }
    .price__item h4 {
        text-align: center;
    }
}
@media (max-width: 1100px) {
    .technology__image {
        right: -89px;
        bottom: -51px;
    }
    .technology__content {
        padding-right: 30px;
    }
    .price__box {
        gap: 30px;
    }
}
@media (max-width: 1000px) {
    .technology__image {
        right: -58px;
        bottom: -51px;
    }
    .technology__content {
        padding-right: 10px;
    }
    .btn__tech {
        font-size: 14px;
        line-height: 44px;
    }
    .box__item {
        width: 28%;
    }
    .help__img {
        
    }
}
@media (max-width: 900px) {
    .header {
        margin-bottom: 40px;
    }
    .header__menu {
        margin-left: 30px;
        gap: 30px;
    }
    .content__text h1 {
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 25px;
    }
    .content__text h2 {
        line-height: 20px;
    }
    .main__content {
        margin-bottom: 60px;
    }
    .technology__title {
        font-size: 36px;
        line-height: 36px;
    }
    .btn__tech {
        font-size: 14px;
        padding: 0 10px;
    }
    .technology__text {
        font-size: 16px;
        line-height: 21px;
    }
    .media h4 {
        padding: 0 100px;
    }
    .chapter__item {
        padding: 0 22px;
        margin: 50px 0;
    }
    .box__item {
        width: 32%;
    }
    .help__text {
        padding: 0 20px;
    }
    .help__text h3 {
        font-size: 27px;
        line-height: 25px;
        margin-bottom: 13px;
    }
    .help__text p {
        margin-bottom: 5px;
        line-height: 23px;
    }
    .price__box {
        gap: 5;
    }
}
@media (max-width: 800px) {
    .header__menu {
        display: none;
    }
    .header__button {
        display: none;
    }
    .burger__btn {
        display: block;
        position: unset;
        background-color: unset;
    }
    .content__text h1 {
        font-size: 28px;
        line-height: 28px;
    }
    .content__text h1 br {
        display: none;
    }
    .content__text h2 br {
        display: none;
    }
    .box__item {
        width: 40%;
    }
    .technology__title {
        font-size: 30px;
        line-height: 30px;
    }
    .technology__image {
        bottom: -68px;
    }
    .technology__text {
        font-size: 14px;
        line-height: 19px;
    }
    .education__title {
        font-size: 30px;
    }
    .media h3 {
        font-size: 30px;
    }
    .chapter__item {
        padding: unset;
    }
    .item2,
    .item3 {
        border-left: unset;
    }
    .help__box {
        gap: 15px;
        margin-bottom: 15px;
    }
    .help__img img {
        width: 228px;
    }
    .price__container h3 {
        font-size: 30px;
    }
}
@media (max-width: 700px) {
    .header {
        margin-bottom: 24px;
    }
    .main__content {
        flex-direction: column;
        align-items: center;
        padding-bottom: 32px;
        margin-bottom: 90px;
    }
    .content__text {
        width: 100%;
        text-align: center;
    }
    .content__text h1 {
        margin-bottom: 9px;
        padding-bottom: 18px;
        border-bottom: 1px solid #DEDEDE;;
    }
    .content__text h2 {
        margin-bottom: 21px;
    }
    .main__btn {
        margin-bottom: 63px;
    }
    .content__image {
        left: unset;
        position: unset;
        height: 375px;
        width: 56%;
        
    }
    .technology__title {
        margin-bottom: 22px;
        font-size: 24px;
        line-height: 26px;
    }
    .technology__wrapper {
        flex-direction: column-reverse;
        align-items: center;
        height: unset;
    }
    .technology__image {
        display: none;
    }
    .technology__content {
        padding: 30px 90px;
        width: 100%;
        margin-bottom: unset;
    }
    .item-blue {

    }
    .technology__text {
        text-align: center;
    }
    .chapter__container {
        flex-direction: column;
    }
    .chapter__item {
        width: 100%;
        
    }
    .item1,
    .item2 {
        margin: 50px 0 0 0;
        padding-bottom: 50px;
        border-bottom: 1px solid #EAF2F5;;
    }
    .item3 {
        margin: 50px 0;
    }
    .help {
        padding: 11px 0;
        border-radius: 30px;
    }
    .help__container {
        padding: 0 11px;
    }
    .help__box {
        flex-direction: column;
        gap: 11px;
    }
    .help__img {
        width: 100%;
        border-radius: 30px;
    }
    .help__img img {
        width: 47%;
    }
    .help__text {
        border-radius: 30px;
    }
    .price__box {
        flex-direction: column;
        align-items: center;
    }
    .price__item {
        width: 100%;
    }
    .warning {
        margin-bottom: 37px;
    }
    .warning__container {
        flex-direction: column;
    }
    .warning__container p {
        text-align: center;
    }
    .footer__container {
        flex-direction: column;
        padding-bottom: 32px;
    }
    .footer__social {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 43px;
    }
    .social__logo {
        margin-bottom: 25px;
    }
    .footer__box {
        flex-direction: column;
        align-items: center;
    }
    .footer__link {
        margin-bottom: 43px;
        align-items: center;
    }
    .footer__contact {
        margin: unset;
        
    }
    .contacts__box {
        align-items: center;
    }
    .email {
        margin-bottom: 35px;
    }
    .footer__contact h4 {
        text-align: center;
    }
    .basement__container {
        flex-direction: column;
        align-items: center;
        padding: 28px 0 19px 0;
    }
    .basement__box {
        flex-direction: column;
        gap: unset;
    }
    .basement__container h6 {
        margin-bottom: 13px;
    }
}
@media (max-width: 600px) {
    .box__item {
        width: 47%;
    }
    .media h4 {
        padding: 0 70px;
    }
    .basement__container {
        flex-direction: column;
        padding: 25px 0 18px 0;
    }
    .basement__container h6 {
        margin-bottom: 6px;
    }
    .basement__box {
        flex-direction: column;
        gap: unset;
    }
}
@media (max-width: 500px) {
    .content__text h1 {
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
    }
    .content__text h2 {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }
    .content__image {
        height: 202px;
    }
    .technology__content {
        padding: 17px 16px;
    }
    .education {
        padding-bottom: 11px;
        border-radius: 0 0 20px 20px;
    }
    .box__one {
        margin-bottom: unset;
    }
    .box__item {
        border-radius: 20px;
    }
    .education__title {
        font-size: 24px;
        line-height: 26px;
    }
    .box__one {
        gap: 10px;
    }
    .box__item img {
        margin: 24px 0 9px 0;
    }
    .box__item h4 {
        padding: 0 20px;
        margin: 0 0 4px 0;
        font-size: 12px;
        line-height: 12px;
    }
    .box__item h5 {
        font-size: 9px;
        line-height: 12px;
        padding: 0 12px;
        margin: 0 0 20px 0;
    }
    .media h3 {
        font-size: 24px;
        line-height: 26px;
    }
    .media h4 {
        padding: 0 25px;
    }
    .media__btn img {
        width: 58%;
    }
    .media__btn span {
        font-size: 10px;
    }
    .chapter__item h3 {
        font-size: 20px;
        line-height: 19px;
    }
    .help__text h3 {
        font-size: 20px;
        line-height: 19px;
    }
    .price__container h3 {
        font-size: 22px;
        line-height: 25px;
    }
}
@media (max-width: 400px) {
    .main__btn {
        width: 100%;
    }
    .item-blue {
        width: 100%;
    }
    
    .item-orange {
        width: 57%;
    }
    .item-green {
        width: 100%;
    }
    .item-light-blue {
        width: 100%;
    }
    .item-navy-blue {
        width: 48%;
    }
    .item-violet {
        width: 50%;
    }
    .button__wrapper {
        flex-direction: column;
        border-radius: 30px;
    }
    .chapter__btn {
        min-width: 249px;
    }
    .chapter__text {
        width: unset;
        text-align: center;
        padding: 0 17px;
        font-size: 13px;
        line-height: 18px;
    }
    .help__img img {
        width: 80%;
    }
}