/*Обнуление*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    }
/*--------------------*/
body {
    font-family: 'Poppins', sans-serif; /*Вставить семейство шрифта*/
    font-size: 16px; /*Размер шрифта поумолчанию*/
    color: #22253B; /*Цвет шрифта поумолчанию*/
}
.container {
    max-width: 1160px; /* Ширина контейнера*/
    margin: 0 auto; /*ставит контейнер по центру*/
    padding: 0 20px;
}
/* ======= btn ======== */
.btn {
    font-weight: 400;
    line-height: 96.69%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    background-color: #F15525;
    padding: 28px 46px;
    border-radius: 82px;
    cursor: pointer;
}
.btn:hover {
    background-color: #38BFF2;
}
.btn__tech {
    font-weight: 400;
    font-size: 17px;
    line-height: 46px;
    color: #ffffff;
    padding: 11px;
    border-radius: 44px;
    display: inline-block;
    margin-bottom: 10px;
    min-width: 100px;
    text-align: center;
    padding: 0 27px;
}
/* ======== main ============= */
.main {
    padding-top: 12px;
    position: relative;
    overflow: hidden;
    
}
.header {
    margin-bottom: 70px;
    position: relative;
    z-index: 1;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 51px;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(15px);
    border-radius: 75px;
}
.logo__menu {
    display: flex;
    align-items: center;
}
.header__logo {
    width: 53px;
    
}
.header__logo img {
    width: 100%;
    
}
.header__menu {
    display: flex;
    gap: 41px;
    margin-left: 73px;
}
.menu__item {
    font-weight: 400;
    font-size: 13px;
    line-height: 104.4%;
    cursor: pointer;
    }
.menu__item a {
    color: #22253B;
}
.menu__item a:hover {
    color: #F15525;
}
.header__button {
    display: flex;
    gap: 15px;
}
.button__registration {
    background-color: unset;
    cursor: pointer;
}
.button__registration:hover {
    color: #F15525;
}
.button__signin {
    background-color: #38BFF2;
    color: #ffffff;
    border-radius: 34px;
    padding: 9px 16px;
    cursor: pointer;
}
.button__signin:hover {
    background-color: #F15525;
}
.button__signin span {
    margin-left: 4px;
}
.burger {
    display: none;
}
.burger__btn {
    font-size: 25px;
    position: absolute;
}

.main__basement {
    position: relative;
    z-index: 1;
    display: flex;
}
.basement__white {
    background-color: #fff;
    width: 100%;
}
.basement__centr {
    display: flex;
    justify-content: center;
}
.main__down {
    position: absolute;
    top: -7%;
    background-color: #fff;
    border-radius: 100%;
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
/* ========== footer ============== */

.footer__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 52px;
    border-bottom: 1px solid #D8D8D8;;
}


.social__logo {
    display: flex;
    align-items: center;
    margin-bottom: 43px;
}
.logo__img {
    margin-right: 19px;
}

.social__icon a {
    margin-right: 16px;
    width: 35px;
    height: 35px;
    display: inline-block;
    background: #22253B;
    border-radius: 100px;
    text-align: center;
}
.social__icon a:hover {
    background-color: #F15525;
}
.fa-brands {
    position: relative;
    bottom: -17%;
    font-size: 22px;
    color: #fff;
}
.footer__box {
    display: flex;
}
.footer__link {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer__link a {
    font-size: 13px;
    line-height: 104.4%;
    color: #22253B;
}
.footer__link a:hover {
    color: #F15525;
}
.footer__contact {
    margin-left: 168px;
}
.contacts__box {
    display: flex;
    flex-direction: column;
}
.number {
    margin-bottom: 4px;
    color: #38BFF2;
    line-height: 23px;
}
.number:hover {
    color: #F15525;
}
.email {
    line-height: 23px;
    color: #22253B;
    margin-bottom: 65px;
}
.email:hover {
    color: #F15525;
}
.footer__contact h4 {
    font-size: 13px;
    line-height: 23px;
    color: #8E8E8E;
}
.basement__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0 32px 0;
}
.basement__container h6 {
    line-height: 23px;
    color: #8E8E8E;
}
.basement__box {
    display: flex;
    gap: 64px;
}